.conteudo{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@media (min-width: 768px){
    .conteudo{
        display: grid;
        grid-template-columns: 200px 1fr 200px;
        grid-template-rows: auto 1fr auto;
    }
}

header{
    grid-column: span 3;
    background-color: aqua;
    justify-content: space-between;
}
nav{

}
main{
    flex: 1;
    margin-top: 7%;
    margin-left: 15%;
    margin-bottom: 7%;
}
footer{
    grid-column: span 3;
    text-align: center;
    background-color: #f1e3e3;
    font-weight: 800;
}
h1{
    min-height: 8.5vh;
}
body{
}
.form-floating{
    justify-content: space-around;
    min-height: 8.5vh;
} 
.submit{
    margin-top: 15px;
}

.nav{
    background-color:rgb(215, 239, 240);
    padding-top: 5%;

}
.datanasc{
    min-height: 6.5vh;
}
.login{
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
}
.btn-inicial{
    width: 30%;
    margin-left: 15%;
}
thead{
    font-weight: bold;
}
.linkedin{
    width: 2.2%;
}
.mail{
    width: 3.4%;
    margin-left: 16px;
    margin-right: 16px;
}
.github{
    width: 2%;
}